#map {
  width: 95%;
  height: 400px;
}

table {
  border: 1px solid black;
  font-variant-numeric: tabular-nums;
  max-width: 95%;
  overflow-x: auto;
}
table tr td {
  border-left: 1px solid green; 
  border-top: 1px dashed green;
  padding: 2px 5px;
  text-align: center;
}
